 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif; /* Fonte*/
}

html {
    scroll-behavior: smooth;
}
/*
body {
    background-image: url(aura-logo.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
*/
header {
   position: fixed;
    height: 100px;
    width: 99%;
    border: 2px solid black;
    margin-left: 10px; /*Margem pra não encostar na borda*/
    display: flex;
    border-radius: 30px;
    z-index: 1;
    background-color: white;
}

header section {
    display: flex;
    gap: 50px;
}

/*Configurações da imagem-logo*/
header img {
    width: 89px;
    height: 95px;
    border-radius: 80px;
    display: inline;
    cursor: pointer;
}

header ul {
    display: flex;
    list-style: none;
    gap: px;
}
/*Configurações dos nomes dos participantes*/
header li {
    color: rgb(255, 0, 0);
    margin-top: 35px;
    margin-left: 14px;
    font-size: 14px;
}
/*Destaque quando passar o mouse*/
header li:hover {
    cursor: pointer;
    font-size: 17px;
    transition: font-size 0.3s ease;
    color: rgb(255, 0, 0);
}
/*Menu "Home", "Galeria"e"Cadastro"*/

header nav {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 80px;
}

main {
    padding-top: 120px;
    margin-bottom: 50px;
    gap: 500px;
}


.integrantes  {
    position: relative; 
    margin-right: 1000px;
}

.integrantes img {
    margin-top: 10px;
    margin-left: 30px;
    width: 175px;
    height: 250px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);
    transition: 0.5s ease;
    margin-bottom: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 65%, transparent);
}

.integrantes:hover img {
    width: 200px;
    height: 280px;
    transition: 0.5s ease;
}


.integrantes .descricao {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 500px;
    font-size: 20px;
    transform: translateX(0);
    transition: transform 0.8s ease;
    padding: 1px;
    margin-left: 20px;
    visibility: hidden;
    color: red;
}

.integrantes:hover .descricao {
    visibility: visible;
    transform: translateX(65%);
}

footer {
    background-color: rgb(255, 255, 255);
}

footer {
    text-align: center;
}

footer img {
    display: inline;
    border-radius: 100px;
    width: 100px;
}

/* Código CSS Cadastro */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.principal-cadastro {
    width: 100%;
    min-height: 100vh;
    margin-left: 30%;
}

.container-cadastro {
    background-color: white;
    border-radius: 20px;
    margin: 14px;
    max-width: 600px;
    width: 80%;
    box-shadow: 0 3px 5px rgb(0, 0, 0);
    overflow: hidden;
}

.header{
    background: linear-gradient(to left, #fffb00 0%, #ad00fd 100%);
    padding: 24px;
    text-align: center;
    color: white;
}

.form{
    padding: 8px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid rgba(36, 34, 34, 0.863);
}

.form-content a {
    position: absolute;
    bottom: -8px;
    left: 0;
   visibility: hidden;
}

.form button {
    background: linear-gradient(to left, #fffb00 0%, #ad00fd 100%);
    color: white;
    width: 90%;
    margin-left: 15px;
    border-radius: 15px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.form-content.error input {
    border-color: red;   
}

.form-content.error a {
    border-color: red;   
}


.container-comentario {
    background-color: white;
    border-radius: 20px;
    margin: 14px;
    max-width: 600px;
    width: 50%;
    box-shadow: 0 3px 5px rgb(0, 0, 0);
    overflow: hidden;
}
