
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif; /* Fonte*/
}

html {
    scroll-behavior: smooth;
    background-color: #F4F4F9;
}

header {
   position: fixed;
    height: 100px;
    width: 99%;
    border: 2px solid black;
    margin-left: 10px; /*Margem pra não encostar na borda*/
    display: flex;
    border-radius: 30px;
    z-index: 1;
}

.off-screen-menu {
    height: 0;
    position: fixed;
    right: -630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .5s ease;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 30px;

}

.off-screen-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 1px;
    list-style: none; 
    margin: 0;
}


.off-screen-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
}

.ham-menu {
    height: 50px;
    width: 60px;
    position: relative;
}

.ham-menu span {
    height: 4px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 44%;
    transform: translate(-50%, -50%);
    transition: .3 ease;
    border-radius: 10px;
    cursor: pointer;
}

.ham-menu span:nth-child(1) {
    top: 54%;
}
.ham-menu span:nth-child(3) {
    top: 64%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

header section {
    display: flex;

}

/*Configurações da imagem-logo*/
header img {
    width: 85px;
    height: 80px;
    display: inline;
    cursor: pointer;
    margin: 7px;
    border-radius: 50px;
}

header ul {
    display: flex;
    list-style: none;
}
/*Configurações dos nomes dos participantes*/
header li {
    margin-top: 30px;
    margin-right: 14px;
    font-size: 16px;
}
/*Destaque quando passar o mouse*/
header li:hover {
    cursor: pointer;
    font-size: 18px;
    transition: font-size 0.3s ease;
    color: rgba(204, 17, 17, 0.911);
}
/*Menu "Home", "Galeria"e"Cadastro"*/

header nav {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left: 80px;
}

main {
    padding-top: 120px;
    margin-bottom: 50px;
    gap: 500px;
}


.integrantes-1  {
    display: inline;
}

.integrantes-1 img {
    margin-top: 10px;
    margin-left: 30px;
    width: 175px;
    height: 250px;
    border-radius: 30px;
    border: 2px solid rgba(255, 217, 0, 0.863);
    transition: 0.5s ease;
    margin-bottom: 20px;
}

.integrantes-1:hover img {
    width: 200px;
    height: 280px;
    transition: 0.5s ease;
}

.integrantes-1 .descricao {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 250px;
    width: 380px;
    font-size: 16px;
    transform: translateX(0);
    transition: transform 0.8s ease;
    padding: 1px;
    margin-left: 10px;
    visibility: hidden;
    color: rgba(103, 8, 122, 0.966);
}

.integrantes-1:hover .descricao {
    visibility: visible;
    transform: translateX(65%);
}

footer {
    background-color: rgb(255, 255, 255);
}

footer {
    text-align: center;
}

footer img {
    display: inline;
    border-radius: 100px;
    width: 100px;
}

/* Código CSS Cadastro */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.principal-cadastro {
    width: 100%;
    min-height: 100vh;
    margin-left: 30%;
}

.container-cadastro {
    background-color: white;
    border-radius: 20px;
    margin: 14px;
    max-width: 600px;
    width: 80%;
    box-shadow: 0 3px 5px rgb(0, 0, 0);
    overflow: hidden;
}

.header{
    background: linear-gradient(to left, #390f86 0%, #000000 100%);
    padding: 24px;
    text-align: center;
    color: white;
}

.form{
    padding: 8px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid rgba(0, 0, 0, 0.863);
}

.form-content a {
    position: absolute;
    bottom: -8px;
    left: 0;
   visibility: hidden;
}

.form button {
    background: linear-gradient(to left, #22097c 0%, #000000 100%);
    color: white;
    width: 90%;
    margin-left: 15px;
    border-radius: 15px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
}

.form-content.error input {
    border-color: red;   
}

.form-content.error a {
    border-color: red;   
}


.container-comentario {
    background-color: white;
    border-radius: 20px;
    margin: 14px;
    max-width: 600px;
    width: 50%;
    box-shadow: 0 3px 5px rgb(0, 0, 0);
    overflow: hidden;
}
