@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif; /* Fonte*/
}

header {
   /* position: fixed; */ 
    background-color: white;
    height: 100px;
    width: 1300px;
    border: 3px solid black;
    margin-left: 10px; /*Margem pra não encostar na borda*/
    display: flex;
    border-radius: 80px;
    margin-top: 20px; /*Margem pra não encostar em cima*/

}

header section {
    display: flex;
    text-align: center;
    width: 100%;
}

/*Configurações da imagem-logo*/
header img {
    width: 90px;
    height: 92px;
    border-radius: 100px;
    margin: 1px;
    display: inline;
}

header ul {
    display: flex;
    list-style: none;
    gap: 9.5px;
}
/*Configurações dos nomes dos participantes*/
header li {
    color: rgba(31, 31, 31);
    margin-top: 35px;
    margin-left: 14px;
    font-size: 14px;
}
/*Destaque quando passar o mouse*/
header li:hover {
    font-size: 17px;
    transition: font-size 0.3s ease;
    color: rgb(0, 0, 0);
}
/*Menu "Home", "Galeria"e"Cadastro"*/

header nav {
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(31, 31, 31);
    margin-left: 80px;
}

.integrantes  {
    position: relative; 
    overflow: hidden;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 100px;
}

.integrantes img {
    width: 250px;
    border-radius: 30px;
    border: 3px solid rgb(0, 0, 0);

}

.integrantes:hover img {
    width: 300px;
    transition: 0.5s ease;
}

.integrantes .descricao {
    position: absolute;
    color: red;
    bottom: 0;
    left: 0;
    height: 250px;
    width: 300px;
    background-color: black;
    transform: translateX(0);
    transition: transform 0.9s ease;
    padding: 10px;
}

.integrantes:hover .descricao {
    transform: translateX(100%);
}